* {
  box-sizing: border-box;
}
canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
}

.link {
  cursor: pointer;
}

.link img {
  display: none;
}

div{
  color:red;
}



